
<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>EKN - Things I Do</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<div id="header">
	<a href="/">EKN  </a>&nbsp;
    <span class="hidden"> - </span> 
	<span id="headerSubtitle">Just another site</span>
</div>
<hr class="hidden"/>
<div id="content">
<div id="nav"> <!-- Sidebar content -->
	<ul>
	{% for item in site.data.navigation %}
	<li>
	<a href="{{ item.link }}" {% if page.url == item.link %}style="font-weight: bold;"{% endif %}>
		{{ item.name }}
	</a>
	</li>
	{% endfor %}
	</ul>

	<!---
	<ul>
	<li><a href="index.html"><b>Home</b></a></li>
	<li><a href="useful.html">Useful Apps</a></li>
	<li><a href="blog.html">Blog</a></li>
	<li><a href="about.html">About</a></li>
    <li><a href="music.html">Music</a></li>
	</ul>
--->
</div>
<hr class="hidden"/>
<div id="main">

	{{ content }}

</div>

</div>

</html>
